---
import { getCollection } from "astro:content";
import Base from "src/layouts/Base.layout.astro";



const posts = await getCollection<"blog">("blog");

const sortedByDate = posts.sort((a, b) => {
  return new Date(b.data.pubDate) - new Date(a.data.pubDate);
});

console.log(sortedByDate);
---

<Base>
  <Fragment slot="body">
    <section>
      <h6 class="text-[15px] lg:text-lg text-gray-500 mb-3">
        Temmuz, 2023
      </h6><div class="grid gap-y-2 -mx-4">
        <a
          class="text-sm lg:text-lg flex items-center gap-x-8 py-1.5 px-4 transition-colors group hover:text-blue-300 hover:bg-blue-300/10 rounded-md"
          href="/blog/youtue-hile-yapiyor"
          >YouTube Hile Yapıyor!<div
            class="flex gap-x-2 opacity-0 transition-all group-hover:opacity-100"
          >
            <span class="opacity-50 text-blue-300">#youtube</span>
          </div></a
        >
      </div>
    </section></Fragment
  >
</Base>
