---
import { IoLogoGithub, IoLogoInstagram } from "react-icons/io";
import Posts from "../components/Index/Posts.astro";
import BaseLayout from "../layouts/Base.layout.astro";
---

<BaseLayout>
  <Fragment slot="body">
    <div class="p-6 lg:p-10 border rounded-md bg-blue-300/5 border-blue-300/30">
      <h2 class="text-xl lg:text-4xl font-bold lg:leading-[46px]">
        Välkommen!
      </h2>
      <p class="text-[15px] lg:text-lg text-gray-400 py-4">
        On this site, I talk not only about coding, but also about my daily
        life, my hobbies, the things I like or dislike, the events I've
        experienced, the music I listen to, everything I've discovered, good and
        bad.<nav class="flex items-center gap-x-4 mt-5">
          <a
            target="_blank"
            href="https://github.com/muhammedkpln"
            class="hover:text-white transition-colors"
          >
            <IoLogoGithub className="w-6 h-6" />
          </a>
          <a
            target="_blank"
            href="https://instagram.com/muhammedkplnn_"
            class="hover:text-white transition-colors"
          >
            <IoLogoInstagram className="w-6 h-6" />
          </a>
        </nav>
      </p>
    </div>

    <div class="py-10">
      <Posts />
    </div>
  </Fragment>
</BaseLayout>
