---
import { getCollection } from "astro:content";
import ProjectSection from "src/components/Projects/ProjectSection.astro";
import { ProjectStatus } from "src/content/config";
import Base from "src/layouts/Base.layout.astro";
import { fisherYatesShuffle } from "../helpers/fisher-yates";

let projects = await getCollection<"projects">("projects");
projects = fisherYatesShuffle(projects);

const progressProjects = projects
  .filter((v) => v.data.progress === ProjectStatus.OnProgress)
  .sort((a, b) => (a.data.featured || b.data.featured ? 1 : 0));
const doneProjects = projects
  .filter((v) => v.data.progress === ProjectStatus.Done)
  .sort((a, b) => (a.data.featured || b.data.featured ? 1 : 0));
const pausProjects = projects
  .filter((v) => v.data.progress === ProjectStatus.Paus)
  .sort((a, b) => (a.data.featured || b.data.featured ? 1 : 0));
---

<Base>
  <Fragment slot="body">
    <div class="grid md:grid-cols-3 gap-10">
      <ProjectSection name="Pågående" projects={progressProjects} />
      <ProjectSection name="Klar" projects={doneProjects} />
      <ProjectSection name="Paus" projects={pausProjects} />
    </div>
  </Fragment>
</Base>
