---
import MailingListInput from "./Footer/MailingListInput";
---

<div class="bg-yellow-300/5 mt-auto pt-8 border-t border-yellow-300/30">
  <footer class="container mx-auto">
    <h3 class="text-lg lg:text-xl mb-2 font-semibold text-gray-300">
      Bli meddelad direkt!
    </h3><p class="text-sm lg:text-base mb-6 text-gray-500">
      Om du inte vill missa vad jag skriver kan du ange din e-postadress nedan
      för att prenumerera och fortsätta.
    </p>

    <form class="flex flex-col lg:flex-row items-center gap-2.5">
      <MailingListInput client:load/>
    </form>

  </footer>

  <p class="text-center py-3 text-xs">Designed & Built by Muhammed Kaplan</p>

</div>
