<div class="bg-yellow-300/5 mt-auto pt-8 border-t border-yellow-300/30">
  <footer class="container mx-auto">
    <h3 class="text-lg lg:text-xl mb-2 font-semibold text-gray-300">
      Get notified right away!
    </h3><p class="text-sm lg:text-base mb-6 text-gray-500">
      If you don't want to miss what I write, please enter your email address
      below to subscribe.
    </p><form class="flex flex-col lg:flex-row items-center gap-2.5">
      <input
        class="w-full lg:w-[400px] h-10 rounded-full px-4 bg-white/10 text-sm lg:text-base"
        type="text"
        placeholder="Your e-mail address"
      /><button
        class="h-10 rounded-full transition-colors whitespace-nowrap text-sm lg:text-base bg-yellow-700 px-8 hover:bg-yellow-600 w-full lg:w-auto"
        >Subscribe</button
      >
    </form>
  </footer>

  <p class="text-center py-3 text-xs text-yellow-300/15">
    Designed & Built by Muhammed Kaplan
  </p>
</div>
