---
import { getCollection } from "astro:content";
import { CiCalendarDate } from "react-icons/ci";

let posts = await getCollection("blog");

posts = posts.sort((a, b) => (a.data.pubDate > b.data.pubDate ? 1 : 0));
posts = posts.slice(0, 4);
---

<section class="mb-10">
  <h2 class="text-lg lg:text-3xl font-bold mb-6">Latest posts</h2>
  <div class="grid lg:grid-cols-2 gap-3 lg:gap-5">
    {
      posts.map((post) => {
        const formattedDate = new Intl.DateTimeFormat("en-US", {
          day: "2-digit",
          month: "long",
          year: "numeric",
        }).format(post.data.pubDate);

        return (
          <a
            class="border border-white/20 flex items-center gap-x-4 transition-colors hover:border-white/40 p-6 rounded-md group"
            href={`${post.collection}/${post.slug}`}
          >
            <div>
              <h2 class="text-lg lg:text-2xl line-clamp-2 font-semibold transition-colors group-hover:text-white text-gray-300 mb-2">
                {post.data.title}
              </h2>
              <time class="text-xs lg:text-sm text-gray-500 flex items-center gap-x-2 mt-auto">
                <CiCalendarDate className="w-6 h-6" />
                {formattedDate}
              </time>
            </div>
          </a>
        );
      })
    }
  </div>
</section>
