---
import "@assets/css/main.css";
import ProfileImage from "@assets/profile.jpg";
import { Image } from "astro:assets";
import MobileHeader from "src/components/Header/MobileHeader";
import Header from "../components/Header/Header";
---

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Astro</title>
  </head>
  <body>
    <div class="flex flex-col min-h-full bg-black text-white">
      {/* @ts-ignore */}
      <Header client:idle>
        <Image
          slot="profile-image"
          class="w-16 h-16 lg:h-24 lg:w-24 bg-white/10 rounded-full border border-white/20"
          src={ProfileImage}
          alt="qwe"
        />
      </Header>
      <MobileHeader client:idle />
      <div class="container mx-auto">
        <slot name="body" />
      </div>

      <slot name="body-no-container" />
    </div>
  </body>
</html>
