---
import "@assets/css/main.css";
import ProfileImage from "@assets/profile.jpg";
import { Image } from "astro:assets";
import { ViewTransitions, fade } from 'astro:transitions';
import Footer from "src/components/Footer.astro";
import MobileHeader from "src/components/Header/MobileHeader";
import Header from "../components/Header/Header";
import { Toaster } from 'react-hot-toast'
---

<script is:inline>
  window.localStorage.setItem("theme", "dark");
</script>

<html class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Muhammed Kaplan - Webbdagbok</title>
    <meta name="theme-color" content="#000000">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <ViewTransitions  />
    <link rel="sitemap" href="/sitemap.xml" />
    </head>
  <body>
    <div class="flex flex-col min-h-full bg-black text-white" transition:animate={fade()} >
      {/* @ts-ignore */}
      <Header client:idle>
        <Image
          slot="profile-image"
          class="w-16 h-16 lg:h-24 lg:w-24 bg-white/10 rounded-full border border-white/20"
          src={ProfileImage}
          alt="qwe"
        />
      </Header>
      <MobileHeader client:idle />
      <div class="container mx-auto">
        <slot name="body" />
      </div>

      <slot name="body-no-container" />

    </div>


    <div class=" bg-black text-white">
      <Footer />
    </div>

    <Toaster client:idle />
  </body>
</html>
