---
import { CiCalendarDate } from "react-icons/ci";
import Base from "./Base.layout.astro";
---

<Base>
  <Fragment slot="body-no-container">
    <article class="pb-14" style="opacity: 1;">
      <header
        class="bg-gradient-to-b from-blue-300/5 to-transparent border-t border-blue-300/10 py-2 lg:py-10"
      >
        <h1
          class="text-xl lg:text-4xl container mx-auto lg:leading-[50px] font-bold"
        >
          <slot name="title" />
        </h1>

        <div
          class="container mx-auto mt-2 flex flex-col lg:flex-row gap-y-2 lg:items-center gap-x-8"
        >
          <time
            class="flex items-center gap-x-2 text-sm lg:text-base text-gray-400"
          >
            <CiCalendarDate className="w-4 h-4" /> 11 Temmuz 2023</time
          >
        </div>
      </header><div
        class="container mx-auto text-sm lg:text-xl text-gray-300 pt-2 markdown-body"
      >
        <slot name="content" />
      </div>
    </article>
  </Fragment>
</Base>
